*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

@font-face {
  font-family: "Montserrat SM";
  src: url("../font/Montserrat\ SemiBold\ 600.ttf");
}

body {
  font-family: "Montserrat SM";
}

table {
  border-collapse: collapse;
  width: 80%;
  margin-top: 1%;
  color: #3a3a3a;
  border: 1px solid #cbcbcb;
}

th,
td {
  padding: 5px 10px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  padding-top: 5%;
  padding-bottom: 5%;
  gap: 60px;
}

button {
  cursor: pointer;
  color: #3a3a3a;
  font-size: 1.2em;
  border: 1px solid #cbcbcb;
  padding: 5px 10px;
}
