.content_panier_liste{
    position: relative;
    top: 50px;
}


.content_panier_liste>ul{
    display: grid;
    gap: 20px;
}

.content_panier_liste>ul >li{
    display: grid;
    grid-template-columns: 287px 116px;
}
.content_Panier_titre> :nth-child(1){
    position: relative;
    left: 5%;
    top: 102px;
}
.content_Panier_titre> :nth-child(2)> a{
    position: relative;
    left: 75%;
    top: 26px;
}
.content_Panier_titre> :nth-child(3){
    position: relative;
    top: 27px;
    left: -10%;
}

