.content_panier_liste{
    position: relative;
    top: 50px;
}


.content_panier_liste>ul{
    display: grid;
    gap: 20px;
}

.content_panier_liste>ul >li{
    display: grid;
    grid-template-columns: 287px 116px;
}
.content_Panier_titre> :nth-child(1){
    position: relative;
    left: 5%;
    top: 102px;
}

